# Default ignored files
shelf/
workspace.xml
# Rider ignored files
contentModel.xml
projectSettingsUpdater.xml
.idea.Tutorial11.iml
modules.xml
# Editor-based HTTP Client requests
httpRequests/
# Datasource local storage ignored files
dataSources/
dataSources.local.xml
/.idea/
appsettings.json
appsettings.Development.json
.idea/
Tutorial11/bin/
idea/
./db/
./extensions/